In [30]:
import pandas as pd
#Deliverable 2 analysis

In [31]:
# read in vine.csv as a dataframe
vine_df = pd.read_csv(r"C:\Users\earth\Desktop\class_folder\Amazon_Vine_Analysis\vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [32]:
# 1 Create new dataFrame by filtering total_votes equal or greater than 20.
Vine_filtered_df = vine_df[vine_df["total_votes"] >=20]
Vine_filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [33]:
# 2 filter2 to get all rows helpful_votes/total_votes is >= 50%

vine_filter2_df = Vine_filtered_df[(Vine_filtered_df['helpful_votes']/Vine_filtered_df['total_votes']) >=.50]

In [35]:
# 3 Filter only get rows that are part(paid) of the program "Y"
vine_program_paid = vine_filter2_df[vine_filter2_df["vine"]=="Y"]
vine_program_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [36]:
# Filter only get rows that are NOT part(unpaid) of the program "N"
vine_program_unpaid = vine_filter2_df[vine_filter2_df["vine"]=="N"]
vine_program_unpaid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [37]:
# 5 total number of paid reviews (vine="Y")
total_paid_reviews = len(vine_program_paid)
total_paid_reviews

94

In [38]:
# 5 total number of unpaid reviews (vine="N")
total_unpaid_reviews = len(vine_program_unpaid)
total_unpaid_reviews

40471

In [39]:
# 5 Number of five-star reviews (vine="Y")
paid_five_star_review = len(vine_program_paid[vine_program_paid["star_rating"] == 5])
paid_five_star_review

48

In [40]:
# 5 Number of five-star reviews (vine="N")
unpaid_five_star_review = len(vine_program_unpaid[vine_program_unpaid["star_rating"] == 5])
unpaid_five_star_review

15663

In [41]:
# 5 Percentage of 5-star reviews that are paid (vine="Y")
percentage_paid_five_star_review = (paid_five_star_review/total_paid_reviews)*100
percentage_paid_five_star_review

51.06382978723404

In [42]:
# 5 Percentage of 5-star reviews that are unpaid (vine="N")
percentage_unpaid_five_star_review = (unpaid_five_star_review/total_unpaid_reviews)*100
percentage_unpaid_five_star_review

38.701786464381904